<h1>Acasa</h1>
<h2>{{ descriere }}</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
 Ad illo architecto ipsum molestias, perspiciatis reiciendis
 itaque qui consequuntur dignissimos exercitationem facilis vero porro earum voluptate est laudantium possimus minus mollitia.</p>


<h3>Formular schimba descriere</h3>
<input type="text" [(ngModel)] ="descriere" />

<p>{{showImage}}</p>

<img *ngIf ="showImage" [src]="myimg" alt="" srcset="" style="max-width: 250px;">


<button (click) = "salut()" > Start </button>

<button (click) ="showImg()">Afiseaza Imagine</button>
